<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Dashboard</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <link href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Marker cluster JavaScript -->
    <script src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

    <!-- Marker cluster CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Custom CSS -->
    <link href="../static/css/static.css" rel="stylesheet">
    <!-- CSS -->
    <style>
        /* Custom CSS for changing navbar text color */
        body {
            background-color: #BEB292;
        }

        .navbar-nav .nav-link {
            color: #f0ead2;
            font-weight: bold; /* Use font-weight instead of text-emphasis-style */
            font-size: 16px;
        }
        .navbar-brand {
            color: #f0ead2;
            font-weight: bold;
        }

        /* Style for team member section */
        .team-member {
            margin-top: 20px;
            text-align: center;
        }

        .team-member img {
            max-width: 200px;
            border-radius: 50%;
        }

        .team-member p {
            margin-top: 10px;
        }
        .team-member img {
        width: 100%;
        height: 200px; /* Set the desired height for all images */
        object-fit: cover; /* Maintain aspect ratio and cover the entire container */
        }
        .nav-link:hover {
        color: #176087; /* Change color to blue when hovered over */
        }
        .navbar-brand:hover {
        color: #176087; /* Change color to blue when hovered over */
        }
    </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg" style="background-color: #002856;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Diabetes Analysis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diabetes_dashboard"> Diabetes Dashboard</a> <!--Adjust for API link will need multiple dashboards-->
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" href="/stroke_hyper_dashboard"> Stoke & Hypertension Dashboard</a> <!--Adjust for API link will need multiple dashboards-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/works_cited">Works Cited</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br/>
    <!-- Dashboard -->
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Coffee Distribution Dashboard</h1>
                <p>
                    According to the <strong><em>Food and Agriculture Organization (FAO)</em></strong>, <strong>coffee</strong> is one of the most widely consumed beverages globally and is also one of the most traded commodities. 
                    The largest coffee-producing countries include Brazil, Vietnam, and Colombia. 
                    On the other hand, the European Union and the United States of America are the largest consuming and importing markets for coffee worldwide. 
                    If you are interested in further analysis, you can explore a dashboard that covers data from 2000 to 2023, focusing on principal coffee-producing countries.
                </p>
            </div>
        </div>
        <hr/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- Filters and Controls -->
                    <h1>Coffee Dashboard</h1>
                    <div id="filters" style="font-size:18px;">
                        <label for="country">Select Country:</label>
                        <select id="country">
                            <!-- Country Options -->
                            <option value="All">All</option>
                            <option value="Algeria">Algeria</option>
                            <option value="Australia">Australia</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Canada">Canada</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Honduras">Honduras</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Japan">Japan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Russia">Russia</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                            <option value="Vietnam">Vietnam</option>   
                        </select>
                    </div>
                    <p style="font-size:18px;">Click the dropdown menu above to view the country with the highest values about distribution, production, importation, etc of coffee.</p>
                </div>
            </div>
            <hr>
            <div class="row center">
                <!-- Plotly Plots -->
                <div class="col-md-6">
                    <div id="bar_chart"></div>
                </div>
                <div class="col-md-6">
                    <div id="box_plot"></div>
                </div>
            </div>
            <hr/>
            <!-- Additional Text Sections -->
            <div class="row">
                <div class="col-md-6 text-center" style="font-size:18px;">
                    <p>The bar chart gives information about <strong>the avarage of porduction between 2000-2023 by country</strong> the avarage of porduction between 2000-2023.</p>
                </div>
                <div class="col-md-6 text-center" style="font-size:18px;">
                    <p>The box plot visualizes the <strong>distribution of coffee by country</strong>, highlighting countries with the highest values in categories like imports, exports, and stocks. 
                        To focus on specific countries, use the <strong>'All'</strong> option in the drop-down menu and deselect the undesired countries by clicking on their colors.
                        To focus on <strong>one country</strong> , simply choose its specific name in the drop-down menu.</p>
                </div>
            </div>
            <hr/>
            <!-- Data Table -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4>Coffee Distribution Dataset</h4>
                    <table id="data_table" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Year</th>
                                <th>Total of Production</th>
                                <th>Total of Stocks</th>
                                <th>Total of Exports</th>
                                <th>Total of Imports</th>
                                <th>Total of Distribution</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- DataTable will be populated here -->
                        </tbody>
                    </table>
                </div>
            </div>

            <br/><br/>

        </div>
    </div>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="static/js/app.js"></script>

</body>
</html>
