<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes Dashboard</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="./static/css/static.css" rel="stylesheet">

    <!-- JS IMPORTS - External Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link href="../static/css/static.css" rel="stylesheet">
    <!-- CSS -->
    <style>
        /* Custom CSS for changing navbar text color */
        body {
            background-color: #BEB292;
        }

        .navbar-nav .nav-link {
            color: #f0ead2;
            font-weight: bold; /* Use font-weight instead of text-emphasis-style */
            font-size: 16px;
        }
        .navbar-brand {
            color: #f0ead2;
            font-weight: bold;
        }

        /* Style for team member section */
        .team-member {
            margin-top: 20px;
            text-align: center;
        }

        .team-member img {
            max-width: 200px;
            border-radius: 50%;
        }

        .team-member p {
            margin-top: 10px;
        }
        .team-member img {
        width: 100%;
        height: 200px; /* Set the desired height for all images */
        object-fit: cover; /* Maintain aspect ratio and cover the entire container */
        }
        .nav-link:hover {
        color: #176087; /* Change color to blue when hovered over */
        }
        .navbar-brand:hover {
        color: #176087; /* Change color to blue when hovered over */
        }
    </style>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg" style="background-color: #002856;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Diabetes Analysis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/diabetes_dashboard"> Diabetes Dashboard</a> <!--Adjust for API link will need multiple dashboards-->
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link" href="/stroke_hyper_dashboard"> Stoke & Hypertension Dashboard</a> <!--Adjust for API link will need multiple dashboards-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/predictions">Health Risk Predictions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/writeup">Write Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/works_cited">Works Cited</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br/>
    <!-- Dashboard -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Diabetes Dashboard</h1>
                <p>
                   This dashboard highlights diabetes data used in this analysis. Data can be filtered by age, gender, fruit and vegtiable consumption, alcohol consumption, and if the subject is a smoker. 
                </p>
            </div>
            <hr/>
        </div>
         <div class="row"> <!--</div> style="display: flex; justify-content: center;"> -->
            <div class ="col-md-12 text-center">
                <div class='tableauPlaceholder' id='viz1727736205042' style='position: static; margin: 0 auto;'>
                    <noscript>
                        <a href='#'><img alt='Diabetes Health Analysis ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;DiabetesHealthAnalysis&#47;DiabetesHealthAnalysis&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                        <param name='name' value='DiabetesHealthAnalysis&#47;DiabetesHealthAnalysis' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;DiabetesHealthAnalysis&#47;DiabetesHealthAnalysis&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='en-US' />
                        <param name='filter' value='publish=yes' />
                    </object>
                    <script type='text/javascript'>
                        var divElement = document.getElementById('viz1727736205042');
                        var vizElement = divElement.getElementsByTagName('object')[0];
                        if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1709px';vizElement.style.height='891px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1709px';vizElement.style.height='891px';} else { vizElement.style.width='100%';vizElement.style.height='1527px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                    </script>
                </div>
            </div>
        </div>
        <div class="row">
            <div class = "col-md-12 text-center">
                <p style="font-size:18px;">Adjust the above filters to visualize the diabetes dataset. </p>
            </div>
        </div>
    </div>
        <hr>
            </div>
            <hr/>
            <!-- Additional Text Sections -->
            <div class="row">
                <div class="col-md-6 text-center" style="font-size:18px;">
                    <p> The above visuals help address questions such as </br>
                        <strong>What are some of the most common risk factors for diabetes? </strong></br>
                        <strong>Does fruit/vegetable consumption have an impact on diagnosis rates?</br>
                            Does gender have an impact on diagnosis rates?</strong>.</p>
                </div>
                <div class="col-md-6 text-center" style="font-size:18px;">
                    <p>
                        Some conclusions that we can draw when looking at these visuals are, <strong>The is substantally higher rates of diagnosis in agre rantes 55-70.</strong> There
                        is a drop off in diabetic rate after 70 but this can also be attributed to people getting older and passing away from diabetes or another issue. <strong>
                        When considering gender, there does seem to be a higher number of females with diabetes when they have a higher BMI, which would make sense as an expected result,
                        while men seem to get a diabetes diagnosis at a lower average BMI then women do. Suggesting then men have a lower threshold risk for diabetes then women do. 
                        </strong> Lastly, <stong> all other factors considered, fruit and vegetable consumption do not seem to have a strong corralation in diagnosis rates.</stong>
                    </p>
                </div>
            </div>
            <hr/>
            </div>
        <br/><br/>
    </div>
    </div>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>
